
body {
    font-size: 100%;
    line-height: 1.6;
}


h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}


p {
    font-size: 1em;
    margin-bottom: 1em;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em 0;
}