
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}
form
{
    background-color: #d1caca;
    border-radius: 20px;
    padding: 10px;
    box-shadow: inset  0 0 10px 0px;
}
h1,
h2 {
    color: #333;
}

ol {
    padding-left: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}


@media print {
    .resposta {
        display: none;
    }
}


@media (min-width: 768px) {
    body {
        max-width: 800px;
        margin: 0 auto;
    }

    header {
        text-align: center;
    }

    .quiz {
        margin-top: 20px;
    }
}